<h2>Employee List</h2>
<table class="table  table-hover table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name </th>
        <th scope="col">Salary</th>
        <th scope="col">DOB</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>`
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>54,000</td>
        <td>12-Feb-1997</td>
        <td>emp01@abc.com</td>
        <td><a href="">View Details</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>56,000</td>
        <td>16-Mar-1996</td>
        <td>emp02@abc.com</td>
        <td><a href="">View Details</a></td>
      </tr>
   
    </tbody>
  </table>